
/* ==========================================================================
   PRIMARY COLORS
   ========================================================================== */

$white: #fff;
$whiteIce: #f2f9fd;
$lochmara: #0089cf;
$doveGray: #666666;
$feijoa: #83d78c;
$bittersweet :#fc7070;