/* ==========================================================================
   FONTS
   ========================================================================== */

// PATHS
@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600,600i,700,700i,800,800i';
@import 'https://fonts.googleapis.com/css?family=Roboto:300,400';
@import 'https://fonts.googleapis.com/css?family=Oswald:400,700';
@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';

// FONTS
// ============== FONT VARIABLES =================

$default-font-size: 16;

$roboto-font-family: 'Roboto', sans-serif;
$roboto-light: 300;
$roboto-regular: 400;
$open-sans-font-family: 'Open Sans Condensed', sans-serif;



//OSWALD

$oswald-family: 'Oswald', sans-serif;
$oswald-regular: 400;
$oswald-bold: 700;

