/* ==========================================================================
   MAIN SASS
   ========================================================================== */
/*SETTINGS*/
/*GENERIC*/
/* ==========================================================================
   PRIMARY COLORS
   ========================================================================== */
/* ==========================================================================
   FONTS
   ========================================================================== */
@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600,600i,700,700i,800,800i';
@import 'https://fonts.googleapis.com/css?family=Roboto:300,400';
@import 'https://fonts.googleapis.com/css?family=Oswald:400,700';
/* ==========================================================================
   DEFAULT STYLING FOR ELEMENTS
   ========================================================================== */
* {
  margin: 0;
  padding: 0; }

body,
html {
  background-color: #fff;
  height: 100%;
  font-size: 16px; }

h1,
h2,
h3,
h4 {
  margin: 0; }

li {
  list-style-type: none; }

a {
  text-decoration: none; }

picture {
  font-size: 0; }

button {
  border: 0; }

button:focus {
  outline: 0; }

ul {
  margin: 0;
  padding: 0; }

form {
  background-color: #fff; }

select {
  outline: 0;
  border: 0;
  border-radius: 0; }

/* ==========================================================================
   BREAKPOINTS
   ========================================================================== */
/*CUSTOM COMPONENTES*/
.card {
  background-color: #fff;
  min-height: 430px;
  text-align: center; }
  .card p {
    font: 0.875rem "Roboto", sans-serif;
    font-weight: 300;
    color: #666666;
    margin-bottom: 28px; }
  .card__actions {
    border: 1px solid red; }
  .card__title {
    font: 0.875rem "Roboto", sans-serif;
    font-weight: 300;
    margin-bottom: 15px; }
  .card__description {
    font: 0.875rem "Roboto", sans-serif;
    font-weight: 300; }
  .card__price {
    font: 0.875rem "Roboto", sans-serif;
    font-weight: 300; }
    .card__price--disscount {
      color: #fc7070;
      text-decoration: line-through;
      margin-left: 5px; }

/*FORM COMPONENTES*/
