/* ==========================================================================
   MAIN SASS
   ========================================================================== */
/*SETTINGS*/
/*GENERIC*/
/* ==========================================================================
   PRIMARY COLORS
   ========================================================================== */
/* ==========================================================================
   FONTS
   ========================================================================== */
@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600,600i,700,700i,800,800i';
/* ==========================================================================
   DEFAULT STYLING FOR ELEMENTS
   ========================================================================== */
* {
  margin: 0;
  padding: 0; }

body,
html {
  background-color: #fff;
  height: 100%;
  font-size: 10px; }

h1,
h2,
h3,
h4 {
  margin: 0; }

li {
  list-style-type: none; }

a {
  text-decoration: none; }

picture {
  font-size: 0; }

button {
  border: 0; }

button:focus {
  outline: 0; }

ul {
  margin: 0;
  padding: 0; }

form {
  background-color: #fff; }

select {
  outline: 0;
  border: 0;
  border-radius: 0; }

/* ==========================================================================
   BREAKPOINTS
   ========================================================================== */
/*CUSTOM COMPONENTES*/
.card {
  height: 610px;
  background-color: #fff; }

/*FORM COMPONENTES*/
