
// ============== PATHS =================
$bower-boostrap-path: '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap';

// ============== BREAKPOINTS =================

$max-width-smaller: 440px;
$max-width-extra-small: 479px;
$min-width-small: 480px; // Used for mobile landscape
$max-width-small: 767px;
$min-width-medium: 768px; // Used for tablet portrait
$max-width-medium: 959px;
$min-width-large: 960px; // Used for desktop and tablet landscape
