@media (max-width: 1206px) {
    .footer__list-links {
        padding-right: 20px;
    }
}

@media (max-width: 1015px) {
    .footer__column-social {
        float: left;
        padding-top: 100
    }
}