.card {
    padding: 0 10px;
    margin-bottom: 20px;

    &__content {
        background-color: $white;
        min-height: 430px;
        padding-top: 33px;
        box-sizing: border-box;
        position: relative;

       
        // @include bp-smaller {
        //     border: 1px solid red;
        // }

        // @include bp-small {
        //     border: 1px solid black;
        // }

        // @include bp-medium {
        //      border: 1px solid green;
        // }

        // @include bp-large {
        //      border: 1px solid blue;
        // }
    } 
    
    img {
        margin-bottom: 25px;
        // width: 100%;

        // @include extra-small {
        //      width: auto;
        // }

        // @include bp-smaller {
        //     width: 100%;
        // }

        @include bp-medium {
             width: auto;
        }

        @include bp-large {
             width: 100%;
        }
    }

    &__info {
        position: absolute;
        text-align: center;
        width: 100%;
        bottom: 40px;
        padding: 0 15px;
    }

    &__actions {
        display: block;
        padding: 0 30px;
        text-align: center;

        &-item {
            display: inline-block;
            box-sizing: border-box;
        }

        &-item:first-child {
            float:  left;
        }

        &-item:last-child {
            float:  right;
        }

        &-item:only-child {
           float: none;
        }

        &-item--like {
            text-align: left;
            
            a {
                background-image: url("../images/icons/heart.svg");
                background-repeat: no-repeat;
                height: 14px;
                width: 16px;
                display: inline-block;
                cursor: hand;
                margin-right: 0;
            }
        }

        &-item--like:hover {
           opacity: 0.5;
        }

        &-item--exclusive {
           @include border-radius(30px);
           font: calculate-rem(14) $oswald-family;
           font-weight: $oswald-regular;
           text-transform: uppercase;
           color: $white;
           background-color: $lochmara;
           padding: 5px 15px;
        }

        &-item--new {
           @include border-radius(30px);
           font: calculate-rem(14) $oswald-family;
           font-weight: $oswald-regular;
           text-transform: uppercase;
           color: $white;
           background-color: $feijoa;
           padding: 5px 15px;
        }

        &-item--buy {
           background-image: url("../images/icons/basket.svg");
           background-repeat: no-repeat;
           height: 14px;
           width: 16px;
           display: inline-block;
           cursor: hand;
           text-align: right;
           margin:0 auto;
        }

        &-item--buy:hover {
           opacity: 0.5;
        }
    }

    &__bg {
        color: $white;
        background-image: url("../images/footwear.jpg");
        background-repeat: no-repeat;
        height: 430px;
         box-sizing: border-box;
    }

    &__title {
        font: calculate-rem(18) $oswald-family;
        font-weight: $oswald-regular;
        margin-bottom: 15px;
        text-transform: uppercase;
        color : $mineShaft;
    }

    &__description {
        font: calculate-rem(14) $roboto-font-family;
        font-weight: $roboto-light;
    	color: $doveGray;
        margin-bottom: 28px;
    }

    &__price {
        font: calculate-rem(18) $oswald-family;
        font-weight: $oswald-regular;
        color : $mineShaft;

        &--disscount {
            color: $bittersweet;
            text-decoration:line-through;
            margin-left: 5px;
        }
    }
    
}
