.card-doble {
    padding: 0 10px;

    &__content {
        background-color: $white;
        min-height: 430px;
        padding: 0 10px 0 10px;
        box-sizing: border-box;
    }

     &__wrapper {
        box-sizing: border-box;
        min-height: 430px;
        position: relative;
     }

    &__info{
        height: 50%;
        overflow: hidden;
        margin: auto;
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
    }

    &__image {
        position: absolute;
        text-align: center;
        width: 100%;
        top: 50%;

        @include bp-medium {
            height: 50%;
            overflow: hidden;
            margin: auto;
            position: absolute;
            top: 0; left: 0; bottom: 0; right: 0;
        }
    }

    &__actions {
        display: block;
        text-align: center;
        position: absolute;
        top: 30px; left: 0;
        text-transform: none;
        width: 100%;

        @include bp-medium {
            width: auto;
        }

        &-item {
            display: inline-block;
            box-sizing: border-box;
        }

        &-item:first-child {
            float:  left;
        }

        &-item:last-child {
            float:  right;
        }

        &-item:only-child {
           float: none;
        }

        &-item--like {
            text-align: left;
            
            a {
                background-image: url("../images/icons/heart.svg");
                height: 14px;
                width: 16px;
                display: inline-block;
                cursor: hand;
                margin-right: 0;
            }
        }

        &-item--like:hover {
           opacity: 0.5;
        }

        &-item--exclusive {
           @include border-radius(30px);
           font: calculate-rem(14) $oswald-family;
           font-weight: $oswald-regular;
           text-transform: uppercase;
           color: $white;
           background-color: $lochmara;
           padding: 5px 15px;
        }

        &-item--new {
           @include border-radius(30px);
           font: calculate-rem(14) $oswald-family;
           font-weight: $oswald-regular;
           text-transform: uppercase;
           color: $white;
           background-color: $feijoa;
           padding: 5px 15px;
        }

        &-item--buy {
           background-image: url("../images/icons/basket.svg");
           height: 14px;
           width: 16px;
           display: inline-block;
           cursor: hand;
           text-align: right;
           margin:0 auto;
        }

        &-item--buy:hover {
           opacity: 0.5;
        }
    }

    &__bg {
        color: $white;
        background-image: url("../images/footwear.jpg");
        background-repeat: no-repeat;
        height: 430px;
         box-sizing: border-box;
    }

    &__title {
        font: calculate-rem(18) $oswald-family;
        font-weight: $oswald-regular;
        margin-bottom: 15px;
        text-transform: uppercase;
        color : $mineShaft;
        text-align: center;

        @include bp-medium {
            text-align: left;
        }
    }

    &__description {
        font: calculate-rem(12) / calculate-rem(20) $roboto-font-family;
        font-weight: $roboto-light;
    	color: $doveGray;
        margin-bottom: 28px;
        text-align: center;

        @include bp-medium {
            text-align: left;
        }
    }

    &__subtitle {
        font: calculate-rem(14) / calculate-rem(25) $roboto-font-family;
        font-weight: $roboto-light;
    	color: $doveGray;
        margin-bottom: 28px;
        text-align: center;

        @include bp-medium {
            text-align: left;
        }
    }

    &__price {
        font: calculate-rem(18) $oswald-family;
        font-weight: $oswald-regular;
        color : $mineShaft;
        text-align: center;

        @include bp-medium {
            text-align: left;
        }

        &--disscount {
            color: $bittersweet;
            text-decoration:line-through;
            margin-left: 5px;
        }
    }
    
}
