
// FOOTER //

.footer-main {
    background-color: $woodsmoke;
    font: calculate-rem(14) $oswald-family;
    font-weight: $oswald-bold;
    color: $doveGray;

    padding-left: calculate-rem(61);
    padding-top: calculate-rem(41);
    padding-right: calculate-rem(61);
    padding-bottom: calculate-rem(33);   
}

.footer__brand-logo, .footer__list, .footer__icon-wrapper, .footer__icon{
    display: inline-block;
}

.footer__brand-logo, .footer__list{
    vertical-align: top;
}

.footer__brand-logo {
    background-image: url("../images/brand-logo.png");
    background-position: 0,0;
    width: 50px;
    height: 50px;
    margin-right: calculate-rem(40);
}

.footer__list {
    text-transform: uppercase;
    font-size: calculate-rem(12);
    padding-right: calculate-rem(120);
}

.footer__list li{
    padding-bottom: calculate-rem(14);
}

.footer__list a{
    color: $doveGray;  
}

.footer__icon-wrapper {
    border: 1px solid $doveGray;
    width: 48px;
    height: 48px;
    padding-left: calculate-rem(8);
    padding-top: calculate-rem(10);
    margin-right: calculate-rem(10);
}

.footer__icon-wrapper:last-child {
    margin: 0;
}

.footer__icon {
    background-image: url("../images/icons/footer-icons-sprite.png");
    width: 30px;
    height: 31px;
}

.footer__icon-youtube {
    background-position: -8px, -2px;
}

.footer__icon-instagram {
    background-position: -53px, -2px;
}

.footer__icon-twitter {
    background-position: -95px, -2px;
}

.footer__icon-facebook {
    background-position: -138px, -2px;
}

.footer__icon-pinterest {
    background-position: -180px, -2px;
}

.footer__mail, .footer__copyright { 
    font-family: $roboto-font-family;
    font-weight: $roboto-light;
}

.footer__mail {
    font-size: calculate-rem(14);
}

.footer__mail-text {
    padding-top: calculate-rem(31);
}

.footer__icon-mail {
    background-position: -228px, -11px;
    width: 18px;
    height: 13px;   
}

.footer__copyright {
    font-size: calculate-rem(12);
    text-align: center;
    padding-top: calculate-rem(62);
}

.footer__column-social {
    border-bottom: 2px solid $doveGray;
    padding-left: 0;
    padding-right: 0;
}