.menu-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:$whiteIce;
}

.behavior-menu {
    li {
      float: left;
    }

    li a {
      display: block;
      color: $woodsmoke;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      padding-top: 3em;
      font-size: 11px;
      text-transform: uppercase;
      font-family: $oswald-family;
      margin-left: 0.3em;
    }

  li a:hover:not(.active) {
    background-color: $whiteIce;
  }
}

.hover-color a:hover {
  border-bottom: 3px solid $lochmara; /* or whatever colour you'd prefer */

}

.icons-header{
  margin-right:10px;
}

.navbar-brand {
  float: left;
  line-height: 0px;
  display: block;
  padding: 0px 0px;
  line-height: 0px;
  margin-top: 14px;
}


.brand-title{
  padding-top: 3.75em;
  padding-left: 5em;
}

.subtitle{
  text-transform: uppercase;
  color:$lochmara;
  font-size: 12px;
  font-family:$oswald-family;
  padding-left: 12.3em;
}

.dropdown-space{
  padding-bottom: 0.3em;
}

.icon-arrow{
  display: inline-block;
  padding-top: 0.5em;
  margin-top: 0.5em;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.btn-custom{
  max-width: 100%;
  box-sizing: border-box;
  cursor: pointer;
  min-height: 36px;
  min-width: 88px;
  padding: 0 6px;
  margin: 6px 8px;
  background: transparent;
  color: currentColor;
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 11px;
  font-style: inherit;
  font-variant: inherit;
  font-family: $oswald-family;
  text-decoration: none;
  overflow: hidden;
  -webkit-transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
  transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
}



@media (max-width: 800px){
  .brand-title{
    padding-left: 16em;
  }
  .subtitle{
    padding-left: 27em;
  }

  .behavior-menu {
    li {
      float: left;
    }

    li a {
      display: block;
      color: $woodsmoke;
      text-align: center;
      padding: 7px 8px;
      text-decoration: none;
      padding-top: 3em;
      font-size: 11px;
      text-transform: uppercase;
      font-family: $oswald-family;
      margin-left: 0.1em;
    }

    li a:hover:not(.active) {
      background-color: $whiteIce;
    }

  }

  .hover-color a:hover {
    border-bottom: 3px solid $lochmara; /* or whatever colour you'd prefer */

  }
}

@media (min-width: 900px){
  .brand-title{
    padding-left: 16em;
  }
  .subtitle{
    padding-left: 28em;
  }

  .behavior-menu {
    li {
      float: left;
    }

    li a {
      display: block;
      color: $woodsmoke;
      text-align: center;
      padding: 7px 8px;
      text-decoration: none;
      padding-top: 3em;
      font-size: 11px;
      text-transform: uppercase;
      font-family: $oswald-family;
      margin-left: 0.1em;
    }

    li a:hover:not(.active) {
      background-color: $whiteIce;
    }

  }

  .hover-color a:hover {
    border-bottom: 3px solid $lochmara; /* or whatever colour you'd prefer */

  }
}