.navbar-brand{
  float: left;
  line-height:0px;
  display: block;
  padding: 0px 0px;
  line-height: 0px;
  margin-top: 14px;
}


.form-control{
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 211px;
  line-height: 1.42857;
  color: $lochmara;
  border: none;
  -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,0.075);
  box-shadow: inset 0 0px 0px rgba(0,0,0,0.75);
  -webkit-transition: none;
  background-color: $whiteIce;
}


body {
  font-family:$oswald-family;
  font-size: 11px;
  line-height: 1.42857;
  color:$doveGray;
  background-color: transparent;
  text-transform: uppercase;
}

.navbar-default .navbar-brand{
  background-color:$white;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form{
  border-color: $white;
}

.navbar-default{
  background-color:$whiteIce;
  background-color: $whiteIce;
  border-color:$whiteIce;
}


.navbar-default .navbar-collapse, .navbar-default .navbar-form{
  border-color: $whiteIce;
}

.navbar-default{
  background-color:$whiteIce;
  background-color: $whiteIce;
  border-color:$whiteIce;
}

.navbar-form{
  background-color: $whiteIce;

}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color:$lochmara;
  background-color: transparent;
}

.navbar-default .navbar-nav > .active > a {
  background-color: transparent;
  box-shadow: inset 0 -4px 0 $lochmara;

}

.navbar-default .navbar-nav > li > a {
  background-color: transparent;

}


a{
  text-decoration: none;
  padding-right: 2em;
}

.nav > li > a {
  position: relative;
  display: block;
  padding: 1em 2em;
}